<div class="category-tree-wrapper" ng-show="colecao">
  <div class="crumbs">
    <div class="crumb" ng-repeat="ancestor in colecao.ancestors">
      <a ui-sref="colecao({colecao:ancestor})">
        {{ancestor}}
      </a>
      <div class="divider" ng-hide="$last">
        /
      </div>
    </div>
    <div class="child-categories" ng-show="children && children.length">
      <div class="divider">
        /
      </div>
      <div  class="child-arrow"
            ng-init="display = false;"
            ng-click="display = !display;">
        <i class="fa fa-chevron-down"></i>
      </div>
      <div class="child-select" ng-show="display">
        <div ng-repeat="child in children">
          <a  ui-sref="colecao({colecao:child._id})">
            {{child._id}}
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
