<div class="product-details">
  <div class="crumbs">
    <div class="crumb" ng-repeat="ancestor in disco.colecao.ancestors">
      <a ng-href="#/colecao/{{ancestor}}">
        {{ancestor}}
      </a>
      <div class="divider" ng-hide="$last">
        /
      </div>
    </div>
  </div>
  <div class="product-details-content">
    <div class="image-left">
      <img ng-src="{{disco.picture}}" />
    </div>
    <div >
      <h1>{{disco.title}}</h1>
      <h5>{{disco.description}}</h5>
      <div>{{disco.displayPrice}}</div>
      <add-to-cart></add-to-cart>
    </div>
    <div style="clear: both"></div>
  </div>
</div>
